<div class="w-full">
  <% if notice.present? %>
    <p
    class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block"
    id="notice"
  >
      <%= notice %>
    </p>
  <% end %>
  <div class="grid grid-cols-3 gap-3 mb-4">
    <div class="p-6 rounded-lg shadow-lg bg-white">
      <p>Saldo atual:</p>
      <p class="text-2-xl font-bold text-zinc-800">
        <%= number_to_currency @balance %>
      </p>
    </div>
    <%= link_to new_transaction_path, 
      class: "pt-7 rounded-lg py-3px-5 bg-blue-600 text-white block font-medium text-center" do %>
      <span>Nova transação</span>
    <% end %>
  </div>
  <div id="transactions" class="min-w-full"><%= render @transactions %></div>
</div>
